{:paths ["src"]
 :deps  {org.clojure/clojure    {:mvn/version "1.9.0"}}

 :aliases
 {:nrepl
  {:extra-deps
   {spyscope                      {:mvn/version "0.1.6"}
    org.clojure/tools.nrepl       {:mvn/version "0.2.13"}
    cider/cider-nrepl             {:mvn/version "0.18.0-SNAPSHOT"}
    refactor-nrepl/refactor-nrepl {:mvn/version "2.4.0-SNAPSHOT"}}
   :main-opts
   ["-e" "(require,'cider-nrepl.main)(require,'spyscope.core)(cider-nrepl.main/init,[\"refactor-nrepl.middleware/wrap-refactor\",\"cider.nrepl/cider-middleware\"])"]}

  :test {:extra-paths ["test"]
         :extra-deps  {healthsamurai/matcho {:mvn/version "0.3.2"}}}

  :uberjar
  {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                 :sha     "595388c5b909759445a92a19192df50e427aa9a5"}}
   :main-opts  ["-m" "mach.pack.alpha.capsule" "target/uberjar.jar" "-m" "clj-deps-make"]}

  :run {:main-opts ["-m" "clj-deps-make"]}

  :runner
  {:extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
   :main-opts ["-m" "cognitect.test-runner"]}}}
