{:paths []
 :deps  {org.clojure/clojure {:mvn/version "1.10.0"}}

 :aliases
 {:nrepl
  {:extra-deps
   {nrepl                         {:mvn/version "0.6.0"}
    cider/cider-nrepl             {:mvn/version "0.22.4"}
    refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0-SNAPSHOT"}}}

  :server
  {:extra-paths ["src/clj"]      ; directory structure is experimental
   }

  :ui
  {:extra-paths ["src/cljs"]
   :extra-deps
   {re-frame {:mvn/version "0.11.0"}}}

  :ui-dev
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.8.90"}}}

  :test {:extra-paths ["test"]}

  :uberjar
  {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                 :sha     "595388c5b909759445a92a19192df50e427aa9a5"}}
   :main-opts  ["-m" "mach.pack.alpha.capsule" "target/uberjar.jar" "-m" "app.server.core"]}

  :run {:main-opts ["-m" "app.server.core"]}

  :test-runner
  {:extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
   :main-opts ["-m" "cognitect.test-runner"]}}}
